body{
    padding: 2em;
}

header{
    border-bottom: 2px solid rgb(0,0,0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    gap: 1em;
}

header ul li a{
    color: rgb(0, 153, 0);
    text-decoration: none;
}

header h1{
    text-transform: uppercase ;
}